.sign-forms {
    align-items: center;
    text-align: center;
}

.sign-forms input {
    height: 40px;
    width: 400px;
    border-radius: 15px;
    background-color: #E0FFE9;
    border-color: #69D385;
    border-width: 2px;
    outline: none;
    border-style: solid;

    font-size: 25px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.sign-forms button {
    height: 60px;
    width: 220px;
    font-size: 30px;
}
