.automata {
    display: grid;
    grid-template-columns: 35% 15% 50%;
    grid-template-rows: 70px calc(100vh - 240px) 70px;
    grid-template-areas:
            "A D D"
            "B D D"
            "C F E";

    align-items: stretch;
    justify-items: stretch;
}

.name {
    background-color: #E0FFE9;
    border: #69D385 2px solid;
    border-radius: 15px;
    margin: 10px;
    grid-area: A;

    padding-left: 10px;
    outline: none;
    font-size: 30px;
    height: 50px;
}

.automata .grammar {
    background-color: #E0FFE9;
    border: #69D385 2px solid;
    border-radius: 10px;
    margin: 10px;
    grid-area: B;

    padding-top: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 30px;
    resize: none;
    overflow-y: auto;
}

.automata .grammar::-webkit-scrollbar {
    width: 18px;
    /*padding: 5px;*/
}
.automata .grammar::-webkit-scrollbar-thumb {
    background-color: #006A21;
    border-radius: 10px;
    border: 7px solid #E0FFE9;
    /*padding: 5px;*/
}

.word_checked {
    background-color: #E0FFE9;
    border: #69D385 2px solid;
    border-radius: 15px;
    margin: 10px;
    grid-area: C;

    padding-left: 10px;
    outline: none;
    font-size: 30px;
    height: 50px;
    /*align-self: center;*/
}

.automata-img {
    background-color: #E0FFE9;
    border: #69D385 2px solid;
    border-radius: 15px;
    margin: 10px;
    grid-area: D;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.automata-img img {
    max-height: 100%;
    max-width: 100%;
}

.buttons {
    grid-area: E;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    width: 100%;
    /*grid-template-columns: 50% 50%;*/
    /*grid-template-rows: minmax(0, 100px);*/
    /*grid-template-areas: "A B"*/
    /*                     ". C";*/
}

.buttons button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    /*margin: auto auto 0;*/
    /*justify-self: center;*/
    /*align-self: center;*/
}

.save-error {
    /*margin: 0;*/
    color: red;
    /*grid-area: C;*/
}

.word_result {
    grid-area: F;
    text-align: center;
    display: flex;
    align-items: center;
}

.word-in-lang {
    color: green;
    margin: 10px;
    font-size: 30px;
}

.word-not-in-lang {
    /*height: 70px;*/
    margin: 10px;
    color: red;
    font-size: 30px;
}
